<div class="container">

  <div class="title" id="title-product">
    <h2>Vos favoris</h2>
  </div>

  <div>
    <p>Vos bières préférées</p>
    <% @my_favorite_beers.each do |favorite| %>
      <%= favorite.beer.name %>
    <% end %>
  </div>

    <div>
    <p>Vos recettes préférées</p>
    <% @my_favorite_recipes.each do |favorite| %>
      <%= favorite.recipe.name %>
    <% end %>
  </div>

</div>
