// BANNER
.banner {
  background-color: #34363a;
  background-size: cover;
  background-position-y: center;
  height: 640px;
  text-align: center;
  padding-top: 30vh;
}

.banner h1 {
  color: #fff;
  font-size: 36px;
  font-weight: 400;
  padding-bottom: 30px;
}

.column-banner-left {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  float: left;
  width: 100%;
  padding-right: 20px;
  width: 50%;
}

.column-banner-right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  float: left;
  width: 100%;
  padding-left: 20px;
  width: 50%;
}

.btn-banner {
  color:#34363a;
  border-radius: 20px;
  padding: 10px 25px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 20px;
  background-color: #dfe2d7;
  font-size: 12px;
  font-weight: 500;
}

.btn-banner:hover {
  color:#34363a;
  box-shadow:  10px 10px 30px #34363a4f,
}


// CARD-PRODUCT

.container-product-beer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1200px;
  height: 420px;
  background: #dfe2d7;
  margin: 100px 90px;
  border-radius: 20px;
}

.container-product-beer .imgBx {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  transition: .3s linear;
}

.container-product-beer .imgBx img {
  position: relative;
  width: 550px;
  transform: rotate(20deg);
  left: -50px;
  top: 60px;
  transition: .9s linear;
}

.container-product-beer .details {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
}

.container-product-beer .details h2{
  padding: 0;
  font-size: 2.4em;
  line-height: 1em;
  font-size: 36px;
  font-weight: 500;
}

.container-product-beer .details h2 span {
  font-size: 0.4em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #999;
}

.container-product-beer .details p {
  max-width: 85%;
  color: #333;
  font-size: 15px;
  margin-bottom: 36px;
}

.container-product-beer .details button,
.btn-product {
  background: #FEC10D;
  color: #fff;
  border: none;
  outline: none;
  padding: 15px 20px;
  margin-top: 5px;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 40px;
  text-decoration: none;
}

.container-product-beer .details button,
.btn-product:hover {
  color: white;
  box-shadow: 5px 5px 30px #34363a4f,

}
//

.container-product-recipe {
  margin-top: 120px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1200px;
  height: 420px;
  background: #dfe2d7;
  // margin: 60px;
  border-radius: 20px;
  margin-left: 360px;
}

.container-product-recipe .imgBx {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  transition: .3s linear;
}

.container-product-recipe .imgBx img {
  position: relative;
  width: 650px;
  // transform: rotate(30deg);
  left: 10px;
  top: 80px;
  transition: .9s linear;
}

.container-product-recipe .details {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  padding-left: 80px;
}

.container-product-recipe .details h2{
  padding: 0;
  font-size: 2.4em;
  line-height: 1em;
  font-size: 36px;
  font-weight: 500;
}

.container-product-recipe .details h2 span {
  font-size: 0.4em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #999;
}

.container-product-recipe .details p {
  max-width: 85%;
  color: #333;
  font-size: 15px;
  margin-bottom: 36px;
}

.container-product-recipe .details button {
  background: #FEC10D;
  color: #fff;
  border: none;
  outline: none;
  padding: 15px 20px;
  margin-top: 5px;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 40px;
}

/* responsive */
@media (max-width: 1080px) {
  .container {
      height: auto;
  }
  .container .imgBx {
      padding: 40px;
      box-sizing: border-box;
      width: 100% !important;
      height: auto;
      text-align: center;
      overflow: hidden;
  }
  .container .imgBx img {
      left: initial;
      max-width: 100%;
      transform: rotate(0deg);
  }
  .details {
      width: 100% !important;
      height: auto;
      padding: 20px;
  }
  .container .details p {
      margin-left: 0;
      max-width: 100%;
  }
}


// CARD MATCH
.container-match {
  width: 100%;
  max-width: 1140px;
  margin-top: 80px;
  margin-right: auto;
  margin-left: auto;
}

.container-card-match {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.label {
  padding-top: 120px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FEC10D;
  text-align: center;
}

.heading {
  margin-top: 0px;
  margin-bottom: 40px;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 36px;
  line-height: 50px;
  font-weight: 500;
  text-align: center;
  text-transform: none;
}

.container-match img,
.img-match {
  display: inline-block;
  height: 64%;
}

.col {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.col-6 {
  width: 50%;
}

.label-match {
  display: block;
  overflow: visible;
  width: fit-content;
  margin: 20px auto 0px;
  padding: 5px 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-radius: 20px;
  background-color: #fff;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  text-align: center;
  background-clip: border-box;
  object-fit: fill;
}

.category-title {
  display: flex;
  margin-left: 20px;
  font-size: 10px;
  line-height: 14px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  column-count: 0;
}

.category-text {
  margin-left: 20px;
  padding-bottom: 10px;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
}

.columns-1 {
  display: flex;
  width: auto;
  max-width: none;
  min-width: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  align-content: stretch;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #dfe2d7;
}

.column-1.col.col-6 {
  background-color: #dfe2d7;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 600px;
}

.column-2 {
  height: 600px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-image: url('https://alice-esmeralda.com/wp-content/uploads/2019/04/meal-prep-vegan-0954-2.jpg');
  // background-image:
  // linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8)),
  // url('https://alice-esmeralda.com/wp-content/uploads/2019/04/meal-prep-vegan-0954-2.jpg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: repeat-x;
}

.column-3 {
  margin-bottom: 10px;
}

.columns-4 {
  display: block;
  margin-top: 486px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
}


// TOP BEERS

.row-top {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.columns-top {
  padding: 20px 0 26px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-row-gap: 14px;
  width: 250px;
  border-radius: 20px;
}

.columns-top:hover {
  background-color: #fff;
  box-shadow: 5px 5px 30px #34363a1c,
}


.container-top img,
.img-top {
  height: 220px;
}

.title-top {
  object-fit: fill;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
}
