<div class="container">

  <div class="title">
    <h2>Quel type de bière as-tu ?</h2>
  </div>

  <div class="container-flex">

  <div class="link-div">
  <%= link_to beers_path(query: "sucré, viande") do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dwzspwy7e/image/upload/v1655833465/category_beer_test_ufxqoc.png)">
      Viande
    </div>
    <% end %>
  </div>

  <div class="link-div">
  <%= link_to beers_path(query: "poisson") do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dwzspwy7e/image/upload/v1655833465/category_beer_test_ufxqoc.png)">
      Poisson
    </div>
    <% end %>
  </div>

  <div class="link-div">
  <%= link_to beers_path(query: "crustacé") do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dwzspwy7e/image/upload/v1655833465/category_beer_test_ufxqoc.png)">
      Crustacé
    </div>
    <% end %>
  </div>

  </div>
</div>
