<div class="title">
  <h2>Quel type de repas as-tu ?</h2>
</div>

<div class="container">
  <div class="container-card">
    <div class="card">
    <%= link_to beers_path(query: "sucré, viande") do %>
      <div class="card-img">
        <div class="card-info">
          <div class="card-text">
            <p class="text-title">Viande</p>
          </div>
          <div class="card-icon">
            <svg viewBox="0 0 28 25">
              <path d="M13.145 2.13l1.94-1.867 12.178 12-12.178 12-1.94-1.867 8.931-8.8H.737V10.93h21.339z"></path>
            </svg>
          </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="container-card">
    <div class="card">
    <%= link_to beers_path(query: "poisson") do %>
      <div class="card-img">
        <div class="card-info">
          <div class="card-text">
            <p class="text-title">Poisson</p>
          </div>
          <div class="card-icon">
            <svg viewBox="0 0 28 25">
              <path d="M13.145 2.13l1.94-1.867 12.178 12-12.178 12-1.94-1.867 8.931-8.8H.737V10.93h21.339z"></path>
            </svg>
          </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="container-card">
    <div class="card">
    <%= link_to beers_path(query: "crustacé") do %>
      <div class="card-img">
        <div class="card-info">
          <div class="card-text">
            <p class="text-title">Crustacé</p>
          </div>
          <div class="card-icon">
            <svg viewBox="0 0 28 25">
              <path d="M13.145 2.13l1.94-1.867 12.178 12-12.178 12-1.94-1.867 8.931-8.8H.737V10.93h21.339z"></path>
            </svg>
          </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
