<div class="footer-basic">
  <footer>
    <div class="social"><a href="https://github.com/Lucdlp/match-your-beer"><i class="fab fa-github"></i></a></div>

    <!-- A VOIR
    <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Accueil</a></li>
        <li class="list-inline-item"><a href="#">Conditions d'utilisation</a></li>
        <li class="list-inline-item"><a href="#">Politique de confidentialité</a></li>
        <li class="list-inline-item"><a href="#">A propos</a></li>
    </ul> -->

    <p class="footer-dedicace">Réalisé par des amoureux de la <i class="fas fa-beer"></i> <br>Aurélie Tournay, Benjamin Deconinck, Lucas Delpino & Nicolas Castelli</p>
    <p class="copyright">Match Your Beer © 2022 <br> Le Wagon - Batch 811</p>
  </footer>
</div>
