<div class="footer-basic">
  <footer>
    <div class="social"><a href="https://github.com/Lucdlp/match-your-beer"><i class="fab fa-github"></i></a></div>


    <div class="footer-dedicace">
    Réalisé par des amoureux de la <i class="fas fa-beer"></i> <br>Aurélie Tournay, Benjamin Deconinck, Lucas Delpino & Nicolas Castelli
    </div>

    <div class="copyright">
    Match Your Beer © 2022 <br> Le Wagon - Batch 811
    </div>
  </footer>
</div>
