 <%# <div class="footer-basic">
  <footer>
    <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Accueil</a></li>
        <li class="list-inline-item"><a href="#">Conditions d'utilisation</a></li>
        <li class="list-inline-item"><a href="#">Politique de confidentialité</a></li>
        <li class="list-inline-item"><a href="#">A propos</a></li>
    </ul>
    <p class="copyright">Match your beer © 2022</p>
  </footer>
</div> %>
