<!--
<%= link_to "Beers category index", beers_category_index_path %>

<%= link_to "Recipes category index", recipes_category_index_path %>
-->

<!-- BANNER -->
<div class="banner" style="background-image: linear-gradient(rgba(52,54,58,0.7),rgba(52,54,58,0.5)), url(https://res.cloudinary.com/dwzspwy7e/image/upload/v1655463815/banner_AdobeExpress_d4gcjv.gif);">
  <div class="container">
    <h1>Découvre de nouvelles saveurs en jouant <br> sur les accords bières et repas.</h1>
  </div>
</div>

<!-- ENTREE / BIERE -->
<div class="container-product-beer">
    <div class="imgBx">
        <img src="https://res.cloudinary.com/dwzspwy7e/image/upload/v1655420423/pngegg_1_wfdih8.png" alt="biere">
    </div>
    <div class="details">
        <div class="content">
            <h2>Tu as déjà ta bière ?<br>
                <span>Une série de bons plats t'attendent</span>
            </h2>
            <p>
                Featuring soft foam cushioning and lightweight, woven fabric in the upper, the Jordan Proto-Lyte is
                made for all-day, bouncy comfort.
            </p>
            <button>Trouve ton repas</button>
        </div>
    </div>
</div>

<!-- ENTREE / PLAT -->
<div class="container-product-recipe">
    <div class="details">
        <div class="content">
            <h2>Tu as déjà ton repas ?<br>
                <span>Une série de bières fraîches t'attendent</span>
            </h2>
            <p>
                Featuring soft foam cushioning and lightweight, woven fabric in the upper, the Jordan Proto-Lyte is
                made for all-day, bouncy comfort.
            </p>
            <button>Trouve ta bière</button>
        </div>
    </div>
    <div class="imgBx">
        <img src="https://res.cloudinary.com/dwzspwy7e/image/upload/v1655405507/essai-repas_i0shor.png" alt="repas">
    </div>
</div>
