<!--
<%= link_to "Beers category index", beers_category_index_path %>

<%= link_to "Recipes category index", recipes_category_index_path %>
-->

<!-- BANNER -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dwzspwy7e/image/upload/v1655401614/banner_AdobeExpress_xelhaw.gif);">
  <div class="container">
    <h1>Découvre de nouvelles saveurs en jouant <br> sur les accords bières et repas.</h1>
  </div>
</div>

<!-- ENTREE / BIERE -->
<div class="container-product-beer">
    <div class="imgBx">
        <img src="https://res.cloudinary.com/dwzspwy7e/image/upload/v1655404565/essai-beer_xqbx2a.png" alt="Nike Jordan Proto-Lyte Image">
    </div>
    <div class="details">
        <div class="content">
            <h2>Tu as déjà ta bière ?<br>
                <span>Running Collection</span>
            </h2>
            <p>
                Featuring soft foam cushioning and lightweight, woven fabric in the upper, the Jordan Proto-Lyte is
                made for all-day, bouncy comfort.
                Lightweight Breathability: Lightweight woven fabric with real or synthetic leather provides
                breathable support.
            </p>
            <button>Trouve ton repas</button>
        </div>
    </div>
</div>

<!-- ENTREE / PLAT -->
<div class="container-product-recipe">
    <div class="details">
        <div class="content">
            <h2>Tu as déjà ta repas ?<br>
                <span>Running Collection</span>
            </h2>
            <p>
                Featuring soft foam cushioning and lightweight, woven fabric in the upper, the Jordan Proto-Lyte is
                made for all-day, bouncy comfort.
                Lightweight Breathability: Lightweight woven fabric with real or synthetic leather provides
                breathable support.
            </p>
            <button>Trouve ta bière</button>
        </div>
    </div>
    <div class="imgBx">
        <img src="https://res.cloudinary.com/dwzspwy7e/image/upload/v1655405507/essai-repas_i0shor.png" alt="Nike Jordan Proto-Lyte Image">
    </div>
</div>
