<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to "Beers category index", beers_category_index_path %>
OR
<%= link_to "Recipes category index", recipes_category_index_path %>
