<!--
<%= link_to "Beers category index", beers_category_index_path %>

<%= link_to "Recipes category index", recipes_category_index_path %>
-->

<!-- BANNER -->

<div class="container">
  <div class="banner">
    <div class="banner-video">
      <video id="background-video" autoplay loop muted poster="https://res.cloudinary.com/dwzspwy7e/image/upload/v1654944628/banner_zftvmm.png">
        <source src="https://res.cloudinary.com/dwzspwy7e/video/upload/v1654944652/banner_k5zamq.mp4" type="video/mp4">
      </video>
      <div class="banner-text">
        <h4>Découvre de nouvelles saveurs en jouant sur les accords bières et repas.</h4>
      </div>
    </div>
  </div>
  <p>coucou</p>
</div>
