#title-category {
  padding: 20px 0 40px;
}

.container-cat {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  justify-content: center;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 20px;
  padding-top: 20px;
}

.link-cat a {
  text-decoration: none;
}

.link-cat:hover {
  box-shadow: 0 10px 20px 4px rgba(35, 35, 35, .1);
  border-radius: 20px;
}

// Recipe Show

.row {
  background-color: #E0E2D7;
  border-radius: 16px;
  padding: 20px;
}
.column-recipe {
  float: left;
  width: 50%;
  text-align: center;
  position: relative;
}

.column-recipe img {
  height: 500px;
  width: 360px;
  border-radius: 16px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.fav-btn {
  position: absolute;
  bottom: 35px;;
  left: 35px;;
}
