.text-nofav {
  padding-top: 180px;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.no-fav {
  padding-top: 30px;
}

.btn-nofav {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  color:#34363a;
  border-radius: 20px;
  padding: 10px 25px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 20px;
  background-color: #dfe2d7;
  font-size: 12px;
  font-weight: 500;
}

.btn-nofav :hover, button:active {
  -webkit-transform: translate(0px,3px);
  -ms-transform: translate(0px,3px);
  transform: translate(0px,3px);
 }

.row-myfav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
}

.column-myfav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-row-gap: 15px;
  width: 630px;
  background-color: #dfe2d73e;
  border-radius: 20px;
  height: fit-content;
  padding-bottom: 45px;
}

.container-favorite {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
  align-items: start;
  align-content: stretch;
  justify-content: space-between;
  justify-items: center;
}

.myfav-title {
  font-size: 14px;
  font-weight: 600;
  padding: 60px 0 15px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.myfav-icon-beers {
  width: 80px;
  position: absolute;
  left: auto;
  top: 235px;

}

.myfav-icon-recipes {
  width: 80px;
  position: absolute;
  left: auto;
  top: 235px;

}

#title-favorite {
  padding: 20px 0 40px;
}

.wrapper-fav {
  justify-content: center;
  width: 250px;
  height: 300px;
  background: #DFE2D7;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
  &:hover{
    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
  }

  .container-favorite-list {
    width:100%;
    height:100%;
    .top{
      height: 70%;
      width: 100%;
      background: url(https://res.cloudinary.com/dwzspwy7e/image/upload/v1655229242/hoegaarden_sgoiv5.webp) no-repeat bottom;
      background-size: 100%;
    }
    .bottom{
      width: 100%;
      height: 30%;
      .details {
        height:100%;
        width: 100%;
        background: #DFE2D7;
        position:relative;
        display: flex;
        justify-content: center;
        align-items: center;
        float: center;
          h1 {
            font-size: 18px;
          }
        }
      }
    }
  }

  .link-favorite {
    text-decoration: none;
    color: #34363A;
  }

  .link-favorite:hover {
    color: #34363A;
  }

 .bottom, .details a {
    text-decoration: none;
  }

  .inside-fav {
    z-index:9;
    background: #FEC10D;
    width: 140px;
    height: 140px;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 0px 0px 200px 200px;
    transition: all 0.5s, border-radius 2s, top 1s;
    overflow: hidden;
    .icon{
      position:absolute;
      right:90px;
      top:85px;
      color: #34363A;
      opacity: 1;
      font-size: 20px;
    }
    &:hover{
      width:100%;
      right:0;
      top:0;
      border-radius: 0;
      height:70%;
      .icon{
        opacity: 0;
        right:15px;
        top:15px;
      }
      .contents{
        opacity: 1;
        transform: scale(1);
        transform: translateY(0);
      }
    }
    .contents{
      padding: 2%;
      opacity: 0;
      transform: scale(0.5);
      transform: translateY(-200%);
      transition: opacity 0.2s, transform 0.8s;
      .row {
        padding-top: 7px;
      }
    }
  }

  .favorite-title {
    display: flex;
    margin-left: 20px;
    font-size: 10px;
    line-height: 14px;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  .favorite-text {
    margin-left: 20px;
    padding-bottom: 10px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
  }
