.container-product {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}

#title-product {
  padding: 20px 0 40px;
}

.wrapper {
  justify-content: center;
  width: 280px;
  height: 320px;
  background: #DFE2D7;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
  &:hover{
    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
  }

  .container-product-list {
    width:100%;
    height:100%;
    .top{
      height: 70%;
      width: 100%;
      background: url(https://res.cloudinary.com/dwzspwy7e/image/upload/v1655229242/hoegaarden_sgoiv5.webp) no-repeat bottom;
      background-size: 100%;
    }
    .bottom{
      width: 100%;
      height: 30%;
      .details {
        display: flex;
        align-items: center;
        justify-content: center;
        height:100%;
        width: 100%;
        background: #DFE2D7;
        position:relative;
        float: center;
        padding: 12px;
          h1 {
            font-size: 20px;
            text-align: center;
          }
        }
      }
    }
  }

  .link-product {
    text-decoration: none;
    color: #34363A;
  }

  .link-product:hover {
    color: #34363A;
  }

 .bottom, .details a {
    text-decoration: none;
  }

  .inside-product {
    z-index:9;
    background: #FEC10D;
    width: 140px;
    height: 140px;
    position: absolute;
    top: -70px;
    right: -70px;
    border-radius: 0px 0px 200px 200px;
    transition: all 0.5s, border-radius 2s, top 1s;
    overflow: hidden;
    .icon-product{
      position:absolute;
      right:95px;
      top:92px;
      color: #34363A;
      opacity: 1;
    }
    &:hover{
      width:100%;
      right:0;
      top:0;
      border-radius: 0;
      height:70%;
      .icon-product{
        opacity: 0;
        right:15px;
        top:15px;
      }
      .contents{
        opacity: 1;
        transform: scale(1);
        transform: translateY(0);
      }
    }
    .contents{
      padding: 5%;
      opacity: 0;
      transform: scale(0.5);
      transform: translateY(-200%);
      transition: opacity 0.2s, transform 0.8s;
      .row {
        padding-top: 10px;
      }
    }
  }

  .product-title {
    display: flex;
    margin-left: 20px;
    font-size: 10px;
    line-height: 14px;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    column-count: 0;
  }

  .product-text {
    margin-left: 20px;
    padding-bottom: 10px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
  }
