.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 140px;
  margin-left: 60px;
}

.collapse {
  margin-right: 60px;
}

.collapse .button {
  border: 2px solid #fec10d;
  border-radius: 20px;
  padding: 12px 25px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fec10d;
  font-size: 14px;
  font-weight: 600;
}

.collapse .button:hover {
  background-color: #fec10d;
  border-radius: 20px;
  padding: 12px 25px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.collapse .avatar {
  width: 50px;
}

.collapse .user {
  text-decoration: none;
  color: #51575c;
  opacity: 0.4;
  font-size: 14px;
  margin-right: 15px;
  text-transform: lowercase;

}

.nav_link {
  text-decoration: none;
  margin-right: 60px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: #51575c;

  font-size: 14px;
}

.nav_link:hover {
  color: #FEC10D;

}
