.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 180px;
}

.collapse {
  margin-right: 25px;
}

.nav_link {
  text-decoration: none;
  color: #6c757d;
  margin-left: 40px;
  margin-right: 40px;
}

.nav_link:hover {
  color: #51575c;
}
