.columns-beer img {
  width: 150%;
}

.row-beer {
  background-color: #E0E2D7;
  border-radius: 16px;
  padding: 20px;
  display: flex;
  position: relative;
}

.column-info {
  display: flex;
}

.column-map {
  display: contents;
}
