.row-beer {
  background-color: #E0E2D7;
  border-radius: 20px;
  display: flex;
  position: relative;
  height: fit-content;
  align-items: center;
}

.row-beer img {
  height: 400px;
}

.column-beer {
  padding: 40px 30px 30px 0;
  align-items: center
}

.head {
  display: flex;
  justify-content: space-between;
  // align-items: center;
}

.show-name {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
  font-size: 26px;
  padding-bottom: 20px;
}

.show-rating {
  padding-bottom: 20px;
}

.show-rating, .far {
  font-size: 15px;
}

#haut {
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  i.fas.fa-arrow-up {
    font-size: 13px;
    padding-right: 9px;
  }
}

.show-title {
  display: flex;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.show-text {
  padding-bottom: 10px;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}

.show-shops {
  font-size: 14px;
  b {
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-bottom: 10px;
  }
  li {
    padding: 2px 0 0px 1px;
    list-style: none;
  }
}

input.button-favorite {
  border: 0!important;
  text-decoration: none !important;
  background: #FEC10D;
  color: #fff;
  border: none;
  outline: none;
  padding: 10px 20px;
  margin-top: 5px;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 40px;
}

.show-button-fav, .far {
  font-size: 24px;
}

// ON / OFF BUTTON FAV ??
// .show-button-fav, .far::before {
//   font-weight: 400;
// }
//
// .show-button-fav, .fa::after {
//   content: '';
//   cursor: pointer;
//   font-weight: 400;
//   transition: left 0.2s ease;
// }

.row-rating {
  background-color: #E0E2D7;
  border-radius: 20px;
  display: flex;
  position: relative;
  margin-top: 40px;
}

.column-rating {
  padding: 40px 30px 40px 40px;
  width: 35%;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#commentaires {
  font-family: 'Space Grotesk', sans-serif;
  text-align: left;
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 20px
}

#no-commentaires {
  font-family: 'Space Grotesk', sans-serif;
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 20px;
  text-align: center;
}

.rating-text {
  font-size: 15px;
  padding-bottom: 5px;
}

.row-rating, .form-label.float.optional {
  font-size: 14px;
}

.show-comment {
  padding: 40px 20px;
  height: 340px;
  width: 70%;
}

.show-no-comment {
  padding: 40px 20px;
  height: 340px;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating-comment {
  overflow: scroll;
  height: 212px;
  padding-bottom: 10px;
}

.column-map {
  display: contents;
}


.text-unlog {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 600;
  font-size: 20px;
}

#unlog_link {
  background-color: #fec10d;
  border-radius: 20px;
  padding: 4px 9px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  font-family: Roboto;
  line-height: 35px;
}
