<div class="title">
  <h2>Quel type de bière as-tu ?</h2>
</div>

<div class="container">
  <div class="container-card">
    <div class="card">
      <div class="card-img"></div>
        <div class="card-info">
          <div class="card-text">
            <p class="text-title">Bière fruitée</p>
            <%# <p class="text-subtitle">This is a subtitle</p> %>
          </div>
          <div class="card-icon">
            <svg viewBox="0 0 28 25">
              <path d="M13.145 2.13l1.94-1.867 12.178 12-12.178 12-1.94-1.867 8.931-8.8H.737V10.93h21.339z"></path>
            </svg>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="container-card">
    <div class="card">
     <%= link_to recipes_path(query: "poisson") do %>
      <div class="card-img"></div>
        <div class="card-info">
          <div class="card-text">
            <p class="text-title">Bière blanche</p>
            <%# <p class="text-subtitle">This is a subtitle</p> %>
          </div>
          <div class="card-icon">
            <svg viewBox="0 0 28 25">
              <path d="M13.145 2.13l1.94-1.867 12.178 12-12.178 12-1.94-1.867 8.931-8.8H.737V10.93h21.339z"></path>
            </svg>
          </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="container-card">
    <div class="card">
     <%= link_to recipes_path(query: "sucré, viande") do %>
      <div class="card-img"></div>
        <div class="card-info">
          <div class="card-text">
            <p class="text-title">Bière blonde</p>
            <%# <p class="text-subtitle">This is a subtitle</p> %>
          </div>
          <div class="card-icon">
            <svg viewBox="0 0 28 25">
              <path d="M13.145 2.13l1.94-1.867 12.178 12-12.178 12-1.94-1.867 8.931-8.8H.737V10.93h21.339z"></path>
            </svg>
          </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="container-card">
    <div class="card">
     <%= link_to recipes_path(query: "crustacé") do %>
      <div class="card-img"></div>
        <div class="card-info">
          <div class="card-text">
            <p class="text-title">Bière ambrée</p>
            <%# <p class="text-subtitle">This is a subtitle</p> %>
          </div>
          <div class="card-icon">
            <svg viewBox="0 0 28 25">
              <path d="M13.145 2.13l1.94-1.867 12.178 12-12.178 12-1.94-1.867 8.931-8.8H.737V10.93h21.339z"></path>
            </svg>
          </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="container-card">
    <div class="card">
      <div class="card-img"></div>
        <div class="card-info">
          <div class="card-text">
            <p class="text-title">Bière brune</p>
            <%# <p class="text-subtitle">This is a subtitle</p> %>
          </div>
          <div class="card-icon">
            <svg viewBox="0 0 28 25">
              <path d="M13.145 2.13l1.94-1.867 12.178 12-12.178 12-1.94-1.867 8.931-8.8H.737V10.93h21.339z"></path>
            </svg>
          </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="container-card">
    <div class="card">
      <div class="card-img"></div>
        <div class="card-info">
          <div class="card-text">
            <p class="text-title">Bière noire</p>
            <%# <p class="text-subtitle">This is a subtitle</p> %>
          </div>
          <div class="card-icon">
            <svg viewBox="0 0 28 25">
              <path d="M13.145 2.13l1.94-1.867 12.178 12-12.178 12-1.94-1.867 8.931-8.8H.737V10.93h21.339z"></path>
            </svg>
          </div>
      </div>
    </div>
  </div>
</div>
